$maxWidth: 1920
@mixin adaptiv-font($pcSize, $mobSize)
  $addSize: $pcSize - $mobSize
  $maxWidth: $maxWidth - 320
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth}))

.top-section
  height: 800px
  padding: 80px 40px 0 50px
  display: flex
  justify-content: center
  align-items: flex-start
  background: url("../../assets/images/top-section/1_1.jpg") no-repeat left 25% / 100%
  & span.top-section__slogan
    display: block
    width: 35%
    @include adaptiv-font(45, 15)
    color: #fff
    font-weight: bold
    text-shadow: 5px 0 30px #000
    text-align: center
