@import url("./components/Header/header.sass")
@import url("./components/TopSection/top-section.sass")
@import url("./components/Services/services.sass")
@import url("./components/Services/swiper.sass")
@import url("./components/About/about.sass")
@import url("./components/Contacts/contacts.sass")
@import url("./components/Footer/footer.sass")

@font-face
  font-family: "Roboto"
  font-style: normal
  font-weight: 400
  src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype')

$maxWidth: 1920
@mixin adaptiv-font($pcSize, $mobSize)
  $addSize: $pcSize - $mobSize
  $maxWidth: $maxWidth - 320
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth}))

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: "Roboto", serif
  transition: .2s
  color: #000

html
  overflow-x: hidden
  margin-right: calc(-1 * (100vw - 100%))
  background-color: #e5e5e5
  margin: 0 auto

#root
  max-width: 1920px
  background-color: #fff
  margin: 0 auto

h2
  @include adaptiv-font(30, 14)
  color: #000
  text-align: center
  margin-bottom: 20px

.logo
  width: 60%
  color: #12537e
  @include adaptiv-font(30, 15)
  font-weight: bold
  cursor: pointer
